/* Carousel */
.carousel-caption {
	font-size: 1.7em;
	line-height: 1.3em;
}
.carousel, .CarPic{
    height: 250px;
 }
i{
	font-size: 2em;
}
/* Text */
.header-txt {
	line-height: 33px;
	font-size: 1.5em;
	font-weight: 300;
}
.midtekst{
    margin-left:30px ;
    margin-right:30px ;
}

.top-text{
    font-size: 24px;
}

/* Form */
.registerForm input[type="submit"]{
	width: 100%;
}

/*So-me ikoner*/
.so-me-small{
    margin-left: 100px;
}
.so-me-small a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    color: #313131;
    background: #FFFFFF;
    margin: 0 6px;
    border-radius: 75%; 
    justify-content: center;
    align-items: center; 
    transition: 0.4s;
    text-decoration: none;
    font-size: 12px;
}
/* Ikoner inde i cirkel, hvor hurtigt de skal rotate nÃ¥r man hover */ 
.so-me-small a i{
    transition: 0.4s all; 
}

/* Hvordan ikonerne rotatere */
.so-me-small a:hover > i{
    transform: scale(1.6) rotate(25deg);
}

